$white: #fff;
$gray: #6f7692;

$button-bg-aqua: #5fcac6;
$button-bg-aqua-hover: #5aa7a9;
$button-bg-white: #f7f7fa;
$button-bg-white-hover: #f2f2f2;

$color-outline: #76a5df;
$color-outline-hover: #rgba(111, 118, 146, 0.3);
